@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
body{
    height: 100vh;
    overflow: hidden;
    
  
}
header {
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
nav ul li {
  margin-right: 20px;
  font-size: 1.2em;
  color: #fff;
  cursor: pointer;
}
.home{
  color: #F15412;
}
.logo {
  display: flex;
  justify-content: flex-start;
  font-size: 3em;
}
.logo span{
  color: #fff;
  text-shadow: 0 5px 10px #F15412;
}
.offcanvass{
  display: none;
}
.hamburger{
  display: none;
}
.homepage-menu {
  width: 0%;
  height: 100vh;
  position: absolute; 
  background-color: blue;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 55;
}
.sideimg{
  width: 500px;
  height: 30vh;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  
}
.sideimg img{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 5px 10px #00c4e66b;
}
.sideimg .meta1{
  width: 500px;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.sideimg .meta2{
  width: 500px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(60px,0px);
  -webkit-transform: translate(60px,0px);
  -moz-transform: translate(60px,0px);
  -ms-transform: translate(60px,0px);
  -o-transform: translate(60px,0px);
  z-index: 1;
}








.auto-text{
  font-size: 2em;
  color: #fff;
}
.typed-cursor{
  font-size: 2em !important;
  color: #F15412;
}

.cursor{
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #fff;
  transition: 0.1s;
  transform: translate(-50%, -50%) ;
  -webkit-transform: translate(-50%, -50%) ;
  -moz-transform: translate(-50%, -50%) ;
  -ms-transform: translate(-50%, -50%) ;
  -o-transform: translate(-50%, -50%) ;
  pointer-events: none;
  mix-blend-mode: difference;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  z-index: 1000000;
}
.hello{
  display: inline-block;
  color: #fff;
}




/* ? Aboutpage css */
.aboutpage {
  width: 100%;
  height: 100vh;
  background: url(img/haqqimdabg.jpg) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 50;
  display: none;
}
.aboutpage-main{
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 100px;
  z-index: 12;
}
.aboutpage-main .about-img{
  width: 70%;
  height: 60vh;
  display: flex;
  justify-content: center;
  background-color: #f155128f;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 5px 10px #F15412;
  margin-right: 2rem;
}
.aboutpage-main .about-img img{
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transform: translate(30px,30px);
  -webkit-transform: translate(30px,30px);
  -moz-transform: translate(30px,30px);
  -ms-transform: translate(30px,30px);
  -o-transform: translate(30px,30px);
  box-shadow: 0 5px 10px #F15412;
  object-fit: cover;
}
.aboutpage-main .about-text{
  width: 100%;
  position: relative;
  background: rgba(255, 255, 255, 0.116);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px;
  transform: translateX(-100px);
  -webkit-transform: translateX(-100px);
  -moz-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  -o-transform: translateX(-100px);
}
.aboutpage-main .about-text p,
.aboutpage-main .about-text h6{
  color: #fff;
  margin-top: 10px;
}
.contact-social a img{
  width: 20px;
  filter: invert(1);
  -webkit-filter: invert(1);
  margin: 10px;
  object-fit: cover;
}
.cv{
  background: #F15412;
  border: 1px solid #F15412;
  padding: 5px 20px;
}
.chat{
  position: absolute;
  bottom: 30px;
  right: 50px;
  width: 50px;
  height: 50px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.245);
  border-radius: 50%;
  z-index: 100;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: scale 1s linear infinite;
  -webkit-animation: scale 1s linear infinite;
  cursor: pointer;
}
.chat img{
  width: 100%;
}
@keyframes scale{
  0%{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
  50%{
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
}
  100%{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
}
.message{
  width: 100%;
  height: 100%;
  padding: 200px;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.692);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
.message-main{
  position: relative;
  width: auto;
  height: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.692);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.245);
}
.message-main img{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  cursor: pointer;
}
/* ? contactpage css */
.contactpage{
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  background: rgba(0, 0, 0, 0.495);
  z-index: 1000;
  backdrop-filter: blur(10px);
  display: none;
}
.contact-menu{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
}
.contact-menu img{
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  cursor: pointer;
}
.contact-header h1{
  color: #F15412;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact-body button{
  background: #F15412;
  color: #fff;
}
/* ? Servicespage css */
.servicespage{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 56;
  display: none;
}
.services-main{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-image:  linear-gradient(rgba(10, 9, 9, 0.174),rgba(56, 238, 229, 0.534)) , url(img/haqqimdabg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s;
}
.over{
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-box{
  width: calc(100% / 3.5);
  height: auto;
  background: #fff;
  opacity: 0.8;
  margin: 15px;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  text-align: center;
  overflow: hidden;
}
.services-img img{
  width: 50%;
  margin-bottom: 20px;
}


/* ? Projectspage css */


.projectspage{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 60;
  background: linear-gradient(#30389641, #3038969c) , url(img/haqqimdabg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display:  none;
}
.bg-texts{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}
.profects1,
.profects2,
.profects3,
.profects4{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 100;
}
.profects2,
.profects3,
.profects4{
  z-index: 99;
}
.projects-img{
  width: 80%;
  height: 75%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-img img{
  width: 90%;
  position: absolute; 

}
.projects-img img:nth-child(2){
  width: 20%;
  transform: translateX(300px);
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
}
.projects-img img:nth-child(3){
  width: 50%;
  transform: translateX(-300px);
  -webkit-transform: translateX(-300px);
  -moz-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  -o-transform: translateX(-300px);
}
.projects-name{
  text-align: center;
  color: #fff;
}
.projects-name a{
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  background: #F15412;
}
.name2,
.name3,
.name4{
  opacity: 0;
}
.move-click{
  width: 10%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: end;
  z-index: 199;
}
.move-right ul{
  position: relative;
}
.move-right ul li{
  width: 30px;
  height: 30px;
  list-style: none;
  color: #fff;
  padding: 5px;
  margin: 20px 10px;
  background: #F15412;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 5px 10px #2babf5;
  cursor: pointer;
  opacity: 0.7;
}
.move-right ul li:nth-child(1){
  background: #303896;
}
.move-right ul::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #F15412;
}
.move-right ul li::before{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 40px;
  height: 3px;
  background-color: #F15412;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}









@media only screen and (max-width: 991px) {
  nav{
    display: none;
  }
  .offcanvass{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, rgba(9, 25, 117, 0.555) 60%, #F15412) , url(img/haqqimdabg.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    opacity: 0;
    display: flex;
    align-items: center;
    z-index: 99 ;
    backdrop-filter: blur(10px);
    transform: translateX(-100%);
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
}
  .offcanvass ul{
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
  }
  .offcanvass ul li{
    display: inline-block;
    list-style: none;
    margin: 15px;
    font-size: 2em;
    padding-left: 20px;
    color: #fff;
  }
  .offcanvass ul li:nth-child(1){
    color: #F15412;
  }
  .hamburger{
    width: 65px;
    height: 60px;
    padding: 15px;
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 99;
    overflow: hidden;
}
.hamburger-close{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 65px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}
  .hamburger .line{
    width: 40px;
    height: 3px;
    background: #F15412;
    position: relative;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
  .hamburger-close .line{
     margin: 5px;
     width: 50px;
     height: 3px;
    background: #F15412;
     position: relative;
}

.hamburger-close .line2{
    width: 35px;
}
.homepage-menu .hompage-img{
  width: 400px;
  opacity: 0.8;
}
.homepage-menu .homeimgs{
  justify-content: center;
}
.homepage-menu .homeimgs img{
  width: 80%;
  position: absolute;
  opacity: 0.8;

}
.hover-img{
  display: none;
}
.contactpage{
  width: 45%;
}
.aboutpage-main .about-img{
  width: 90%;
  height: 80vh;
}
.about-text p{
  font-size: 0.9em;
}
.projects-img{
  height: 65%;
}
.projects-img img:nth-child(2){
  width: 20%;
  transform: translateX(200px);
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
}
.projects-img img:nth-child(3){
  width: 50%;
  transform: translateX(-200px);
  -webkit-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px);
}


}
@media only screen and (max-width: 768px){
  .logo{
    font-size: 2em;
    padding-left: 70px;
    margin-top: 5px;
  }
  .offcanvass ul li{
   font-size: 2em;
  }
  .contact-icon{
    bottom: 20px;
  }
  .aboutpage-main {
    padding: 0 50px;
  }
  .services-main{
    position: relative;
    overflow-x: scroll;
  }
  .services-box{
    width: 300px !important;
  }
  .bg-texts ul li{
    list-style: none;
    color:#fff;
    margin-top: 15px;
    font-size: 1.5em;
  }
  .skill-main .skill-box{
    width: 70px;
    height: 70px;
    font-size: 0.8em;
  }
  .projects-img img:nth-child(1){
    display: none;
  }
  .projects-img img:nth-child(2){
    width: 150px;
    transform: translateX(100);
    -webkit-transform: translateX(100);
    -moz-transform: translateX(100);
    -ms-transform: translateX(100);
    -o-transform: translateX(100);
    z-index: 3;
}
  .projects-img img:nth-child(3){
    width: 400px;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    z-index: 2;
}
.message{
  padding: 100px;
}


  
}
@media only screen and (max-width: 576px){
  .logo span{
    position: relative;
    right: 0;
  }
  .homepage-menu .hompage-img{
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
  }
  .homepage-menu .hompage-img img{
    opacity: 0.6 !important;
  }
  .aboutpage-main {
    padding: 10px;
  }
  .aboutpage-main p{
    font-size: 0.7em;
  }
  .contactpage{
    width: 85%;
  }
  .bg-img .tablet{
    display: none;
  }
  .bg-img .mobile{
    display: block;
    width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateX(20%);
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -ms-transform: translateX(20%);
  -o-transform: translateX(20%);
  }
  .aboutpage-main{
    flex-direction: column;
  }
  .aboutpage-main .about-img{
    width: 75%;
    height: 50vh;
  }
  .aboutpage-main .about-text{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
.hello{
  font-size: 1.5em;
}
.auto-text{
  font-size: 1.3em;
} 
  .projects-img{
    height: 60%;
  }
.projects-img img:nth-child(2){
  width: 150px;
  transform: translateX(100px);
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  z-index: 3;
}
  .projects-img img:nth-child(3){
    width: 300px;
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
}
.message{
  padding: 20px;
}

}
